- name: Update repos
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Upgrade system
  become: true
  ansible.builtin.apt:
    name: "*"
    state: latest
    force: true

- name: Install personal packages
  become: true
  ansible.builtin.apt:
    name: "{{ personal_packages }}"
    state: present

- name: Install development packages
  become: true
  ansible.builtin.apt:
    name: "{{ development_packages }}"
    state: present

- name: Install utils
  become: true
  ansible.builtin.apt:
    name: "{{ utils }}"
    state: present

- name: Clean redundant packages and dependencies
  become: true
  ansible.builtin.apt:
    update_cache: true
    autoclean: true
    autoremove: true
