- name: Update repos
  become: true
  ansible.builtin.apt:
    update_cache: true

- name: Upgrade system
  become: true
  ansible.builtin.apt:
    name: "*"
    state: latest
    force: true

- name: Install packages
  become: true
  ansible.builtin.apt:
    name: "{{ linux_packages + common_pkgs }}"
    state: present

- name: Install cli utils
  become: true
  ansible.builtin.apt:
    name: "{{ cli_utils }}"
    state: present

- name: Clean redundant packages and dependencies
  become: true
  ansible.builtin.apt:
    update_cache: true
    autoclean: true
    autoremove: true
