- name: Update package database
  become: true
  community.general.pacman:
    update_cache: true

- name: Upgrade system
  become: true
  community.general.pacman:
    upgrade: true

- name: Install packages
  become: true
  community.general.pacman:
    name: "{{ pkgs }}"
    state: present

- name: Install cli utils
  become: true
  community.general.pacman:
    name: "{{ cli_utils }}"
    state: present

- name: Remove unneeded dependencies
  become: true
  community.general.pacman:
    autoremove: true