- name: Create ZSH cache directory
  ansible.builtin.file:
    path: '{{ ansible_env.HOME }}/.cache/zsh'
    state: directory
    mode: '775'

- name: Create ZSH history file
  ansible.builtin.file:
    path: '{{ ansible_env.HOME }}/.cache/zsh/history'
    state: touch
    mode: '600'

- name: Make ZSH defaul shell
  when: ansible_os_family != 'Darwin'
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    shell: /bin/zsh

- name: Run ZSH plugin update
  ansible.builtin.shell: |
    #!/bin/zsh
    zinit self-update && zinit update --all
  register: zsh_update_result
  # TODO:
  # changed_when: "'Updated Oh My Zsh' in omz_upgrade_result.stdout"
  # failed_when: "'Err' in omz_upgrade_result.msg"
    