# - name: Create temporary folder
#   ansible.builtin.file:
#     path: "~/ansible_temp"
#     state: directory

- name: Install pip and Python modules
  ansible.builtin.include_tasks: pip.yml

# - name: Delete temporary folder
#   ansible.builtin.file:
#     path: "~/ansible_temp"
#     state: absent
